
body {

    background-color: green;


.top {

    display: flex;
    flex-direction: row;
    justify-content: center;
   

}

form {
padding-left: 30px;
margin-top: 9px;
}

h1 {
    text-align: center;
}

h2 {
    margin:0;
}